.container{
    border-color: red;
    border-width: 10px;
    border-style: dotted;
    height:50em;
    width: 50em;
    display: grid;
    grid-template-columns: repeat(16,0px);
    align-items: center;
}
.drawable{
    width: 98%;
    height: 98%;
    margin: 0px;
    padding: 0px;
    background: black;
}
#slider{
    width: 50em;
}