.container{
    border-color: red;
    border-width: 10px;
    border-style: dotted;
    height:50em;
    width: 50em;
    display: grid;
    grid-template-columns: repeat(16,auto);
    align-items: center;
    gap: 0px;
}
.drawable{
    width: 90%;
    height: 90%;
    background: black;
}
.drawable:hover{
    background: red;
}
#slider{
    width: 50em;
}